@model PaginatedList<TblMaintenanceBill>



<section class="content-header">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Maintenance Bill Information</a></li>

    </ol>

</section>
<div id="mymodel" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">
                    <div class="col-sm-12">
                        <div class="col-sm-11">
                            <form class="form-horizontal" asp-action="Index" method="get">
                                <div class="form-group">

                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input type="text" name="SearchString" value="@ViewData["currentFilter"]" class="form-control" placeholder="Search for...">
                                            </div>
                                            <div class="col-sm-1">

                                                <button type="submit" class="btn btn-info" value="Search"><i class="fa fa-search fa-fw"></i>Search</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr style="height:50px;">
                                <th style="display:none;">Id</th>
                                <th style="text-align:center;  "> Bill No</th>
                                <th style="text-align:center; width:9%">
                                    <a style="color:white" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Requisition No <i class="fa fa-sort" style="font-size:20px;color:sandybrown;"></i></a>
                                </th>
                                <th style="text-align:center;  "> Requisition Date</th>
                                <th style="text-align:center;  ">Registration No</th>
                                <th style="text-align:center;  ">Vehicle Type</th>
                                <th style="text-align:center;  ">WorkShop Name</th>
                                <th style="text-align:center;  ">Type of Maintenance</th>
                                <th style="text-align:center;  ">Total Amount</th>
                                <th style="text-align:center;  ">Comments</th>
                                <th style="text-align:center;  ">Status</th>
                                <th style="display:none;">Idate</th>
                                <th style="text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="display:none">@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BillNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.RequisitionNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.RequisitionDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.RegistrationNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.VehicleType)</td>

                                    <td>@Html.DisplayFor(modelItem => item.SuppWorkShopName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MaintenanceTypeName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>

                                    <td>@Html.DisplayFor(modelItem => item.Comments)</td>


                                    <td style="text-align:center  ;background-color:
                                    @if (item.Status == "Pending")
                                    {
                                        @:darkorange;
                                    }
                                    else if (item.Status == "Approved")
                                    {
                                    @:darkgreen;
                                    }
                                    else if (item.Status == "Rejected")
                                    {
                                    @:darkred;
                                    }
                                    else
                                    {
                                     @:darkblue;
                                    }
                                    ; color: white">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td style="display:none">@Html.DisplayFor(modelItem => item.Idate)</td>
                                    <td style="text-align:center;">
                                 
                                        <a href="#" onclick="fnGetMaintenanceBillPrint('@item.Id')"><i class="fas fa-file" aria-hidden="true" style="color:#4d4a45"></i></a>
                                        <text>|</text>
                                        <a href="/MaintenanceBillApproval/MaintenanceBillApprovalPortal?vId=@item.Id">
                                            <i class="fas fa-edit" aria-hidden="true" style="color:#4d4a45"></i>
                                        </a>
                                        <text>|</text>
                                        <a href="#" onclick="Delete('@item.Id')"><i class="fas fa-trash" aria-hidden="true" style="color:#4d4a45"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }


                <div class="table-footer">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled"
                       style="background-color:#4d4a45; color:white;">
                        <i class="fa fa-angle-left fa-fw"></i>
                        Previous
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled"
                       style="background-color:#4d4a45; color:white;">
                        <i class="fa fa-angle-right fa-fw"></i>
                        Next
                    </a>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
    <!-- /.row -->
</section>

<!-- DataTables -->
@*<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>*@
@*<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>*@



<!-- page script -->
<script>
    //$(function () {
    //    $('#example1').DataTable();
    //});
    function fnGetMaintenanceBillPrint(id) {
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("MaintenanceBillPrintView", "MaintenanceBill")',
                data: {
                    Id: id
                },
                error: function (result) {
                    alert("error");
                    console.log(result.responseText);
                },
                success: function (result) {

                    $('#mymodel .modal-content').empty();
                    $('#mymodel .modal-content').html(result);
                    console.log("Modal content set successfully");



                }
            });
        $('#mymodel').modal('show');
    }
    function Delete(id) {
        //alert(id)
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Delete", "MaintenanceBill")',
                    data: {
                        vId: id
                    },
                    error: function (result) {
                        alert("error");
                    },
                    success: function (result) {
                        if (result == true) {
                            var baseUrl = "/Index";
                            alert("Delete Succesful.");
                            window.location.reload();
                        }
                        else {
                            alert("Can't delete, May have data dependency !");
                        }

                    }
                });
        }
    }
</script>

<style>
    /*table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                text-align: left;
                padding: 8px;
            }


            tr:nth-child(even) {
                background-color: #e3d8c3;
            }*/























</style>


