@model LILI_VMS.Models.TblMaintenanceBill


<div id="modal-placeholder"></div>



<!-- Content Header (Page header) -->
<section class="content-header">
    @*<h1>
    Employee
    </h1>*@
    @*     <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Tools Setup Information</li>
    <li class="active">Add Employee</li>
    </ol> *@

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Maintenance Requisition Information</a></li>
        <li class="breadcrumb-item active">Update Maintenance Requisition Information</li>
    </ol>

</section>
<!-- Main content -->
<section class="content container-fluid">

    <!-- Horizontal Form -->
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" asp-controller="" method="post" asp-action="">
                <div class="card-body">
                    <input type="hidden" name="Id" value="@Model.Id" />

                    <div class="form-group">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Bill No</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="BillNo" class="form-control" placeholder="" readonly="readonly">
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label">Requisition Date</label>
                            <div class="col-sm-3">
                                <input type="date" asp-for="RequisitionDate" class="form-control" placeholder="" readonly>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">


                            <label for="inputEmail3" class="col-sm-2 control-label">Requisition No</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="RequisitionNo" class="form-control" placeholder="" readonly="readonly">
                            </div>

                            <label for="inputEmail3" class="col-sm-2 control-label">Type of Maintenance</label>
                            <div class="col-sm-2">
                                <input type="text" asp-for="MaintenanceTypeName" class="form-control" placeholder="" readonly="readonly">
                            </div>

                        </div>

                    </div>


                    <div class="form-group">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Vehicle No</label>
                            <div class="col-sm-2">
                                <input type="text" asp-for="VehicleNo" class="form-control" placeholder="" readonly="readonly">
                            </div>

                            <div class="col-sm-2">
                                <!-- Button trigger modal -->
                               
                            </div>

                            <label for="inputEmail3" class="col-sm-2 control-label">Registration No</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="RegistrationNo" class="form-control" placeholder="" readonly="readonly">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Type of Vehicle</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="VehicleType" class="form-control" placeholder="" readonly="readonly">
                            </div>

                            <label for="inputEmail3" class="col-sm-2 control-label">Driver</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="Driver" class="form-control" placeholder="" readonly="readonly">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Last Maitn. Date</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="LastMaintenanceDate" class="form-control" placeholder="" readonly="readonly">
                            </div>

                            <label for="inputEmail3" class="col-sm-2 control-label">Last Maint. KM </label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="LastMaintenanceKm" class="form-control" placeholder="" readonly="readonly">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Current Maitn. Date</label>
                            <div class="col-sm-4">
                                <input type="date" asp-for="CurrentMaintenanceDate" class="form-control" placeholder="" readonly>
                            </div>

                            <label for="inputEmail3" class="col-sm-2 control-label">Current Maint. KM</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="CurrentMaintenanceKm" class="form-control" placeholder="" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Workshop Code</label>
                            <div class="col-sm-2">
                                <input type="text" asp-for="SuppWorkShopCode" class="form-control" placeholder="" readonly="readonly">
                            </div>

                            <div class="col-sm-2">
                                <!-- Button trigger modal -->
                             
                            </div>

                            <label for="inputEmail3" class="col-sm-2 control-label">Workshop Name</label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="SuppWorkShopName" class="form-control" placeholder="" readonly="readonly">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Comments</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" asp-for="Comments" style="height:10rem" readonly></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-header" style="color: black; margin-bottom:10px"><b>Parts/Service List</b></h5>


                            <div class="col-sm-10 mt-4">
                                <table id="htMaintenanceRequisitionPartsDetails" class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="text-align:center; width:5%">Item Code</th>
                                            <th style="text-align:center;width:10%">Item Name</th>
                                            <th style="text-align:center;width:10%">Quantity</th>
                                            <th style="text-align:center;width:10%">Unit Price</th>
                                            <th style="text-align:center;width:10%">Total Price</th>
                                            <th style="text-align:center;width:10%">Service Charge</th>
                                            @* <th style="text-align:center;width:0.5%">Action</th> *@

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td>
                                                <b>Total</b>
                                            </td>
                                            <td colspan="3">
                                            </td>
                                            <td id="TotalCal" style="text-align:right">
                                                @ViewBag.TotalCal
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tbody id="TblMaintenanceBillPartsDetail">
                                        @{
                                            int i = 0;
                                            foreach (var item in Model.TblMaintenanceBillPartsDetails)
                                            {

                                                var index = i;
                                                var total = 0;
                                                        <tr>

                                                            <td style="display:none"><input name='TblMaintenanceBillPartsDetails.Index' type="hidden" value=@index /></td>
                                                            <td style="display:none"><input name='TblMaintenanceBillPartsDetails[@i].id' type="hidden" value=@item.Id /></td>
                                                            <td style="display:none">@Html.DisplayFor(modelItem => modelItem.TblMaintenanceBillPartsDetails[i].Id, new { @id = "Id_" + i, @readonly = "readonly" })</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.TblMaintenanceBillPartsDetails[i].PartsCode, new { @id = "PartsCode_" + i, @readonly = "readonly" })</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.TblMaintenanceBillPartsDetails[i].PartsName, new { @id = "PartsName_" + i, @readonly = "readonly" })</td>
                                                    <td style="text-align:right">@Html.DisplayFor(modelItem => modelItem.TblMaintenanceBillPartsDetails[i].RequitionQty, new { @id = "UnitPrice_" + i, @readonly = "readonly", @style = "text-align:right" })</td>
                                                    <td style="text-align:right">@Html.DisplayFor(modelItem => modelItem.TblMaintenanceBillPartsDetails[i].UnitPrice, new { @id = "UnitPrice_" + i, @readonly = "readonly", @style = "text-align:right" })</td>
                                                    <td style="text-align:right">@Html.DisplayFor(modelItem => modelItem.TblMaintenanceBillPartsDetails[i].TotalPrice, new { @id = "TotalPrice_" + i, @readonly = "readonly", @style = "text-align:right" })</td>
                                                    <td style="text-align:right">@Html.DisplayFor(modelItem => modelItem.TblMaintenanceBillPartsDetails[i].ServiceCharge, new { @id = "ServiceCharge_" + i, @readonly = "readonly", @style = "text-align:right" })</td>

                                                          

                                                        </tr>
                                                i++;
                                            }

                                        }

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="card-footer">
                   
                   <div class="text-center">
                        <a class="btn btn-mini btn-primary pull-left" href='@Url.Content("/MaintenanceBillApproval/Index")'>Cancel</a>
                        @if (!string.IsNullOrEmpty(ViewBag.UserAuthStatus))
                        {

                            <button type="button" class="btn btn-success" onclick="SetBillStatus( '@ViewBag.UserAuthStatus')">
                                @ViewBag.UserAuthText
                            </button>
                            <button type="button" class="btn btn-danger" onclick="SetBillStatus('Rejected')">
                                Reject
                            </button>
                      
                                     
                            
                        }
                    </div>
                </div>
                <!-- /.box-footer -->
            </form>

        </div>
    </div>
    <!-- /.box -->
</section>




<script type="text/javascript">

    function SetBillStatus(vStatus) {
        console.log(vStatus);
        var vBillNo = $("#BillNo").val();
        $.ajax({
            type: "POST",
            url: "/MaintenanceBillApproval/MaintenanceBillStatus",
            data: { BillNo: vBillNo, Status: vStatus },
            success: function (result) {
               
                if (result.success) {
                    alert(result.message);
                    window.location.href = '@Url.Action(nameof(Index))';
                }
                else {
                    alert("An Error Occured While trying to Update!");
                }
               
                window.location.href = '@Url.Action(nameof(Index))';

            },

        });
    }

</script>
