@model TblGpbill
<div id="modal-placeholder"></div>
<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="/BillApproval/Index">Bill Approval</a></li>
        <li class="breadcrumb-item active">Bill Approval Portal</li>
    </ol>

</section>
<div class="modal">
</div>
<!-- Main content -->
<section class="content container-fluid">

    <!-- Horizontal Form -->
    <div class="row">
        <div class="col-12">
            <div class="card" style="border:1px solid; border-color:cadetblue; padding:10px">

                <form class="form-horizontal" asp-controller="" method="post" asp-action="">

                    <input type="hidden" asp-for="Id"></input>
                    <div class="card-body">


                        <div class="col-sm-12">
                            <div class="col-sm-6">

                                <div class="form-group control-group">
                                    <label asp-for="BillNo" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="BillNo" class="form-control readonly" readonly></input>
                                    </div>
                                </div>
                                <div class="form-group control-group">
                                    <input type="hidden" asp-for="VehicleCode"></input>
                                    <label for="VehicleNo" class="col-sm-4 control-label"> Vehicle No.</label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="VehicleCode" class="form-control readonly" readonly></input>
                                    </div>
@*                                     <div class="col-sm-2">
                                        <button type="button" class="btn btn btn-info" data-toggle="ajax-modal" data-target="#add-material-search" data-url="@Url.Action("VehicleInformation")">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div> *@
                                </div>
                                <div class="form-group control-group">
                                    <label asp-for="DriverName" class="col-sm-4 control-label">Driver Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="DriverName" class="form-control readonly" readonly></input>
                                    </div>
                                </div>
                                <div class="form-group control-group">
                                    <label asp-for="HelperName" class="col-sm-4 control-label">Helper Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="HelperName" class="form-control readonly" readonly></input>
                                    </div>
                                </div>
                                <div class="form-group control-group">
                                    <input type="hidden" id="CustomerCode" class="form-control"></input>
                                    <input type="hidden" id="CustomerName" class="form-control"></input>
                                    <input type="hidden" id="CustomerAddress" class="form-control"></input>
                                    <label for="GpNo" class="col-sm-4 control-label"> Gp No. </label>
                                    <div class="col-sm-4">
                                        <input type="text" id="GpNo" class="form-control readonly" readonly></input>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" id="btnGp" class="btn btn btn-info" data-toggle="ajax-modal" data-target="#add-material-search" data-url="@Url.Action("GpInformation")">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group control-group">
                                    <label for="LoadOfMt" class="col-sm-4 control-label"> Load Of MT </label>
                                    <div class="col-sm-4">
                                        <input type="text" id="LoadOfMt" class="form-control readonly" readonly></input>
                                    </div>
                                    <div class="col-sm-4">
                                     
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" asp-for="PlantId" readonly></input>

                            <div class="col-sm-6">
                                @*                                 <div class="form-group">


                                <label style="display:none"  class="col-sm-4 control-label"></label>
                                <div class="col-sm-4" style="display:none">
                                </div>

                                </div> *@
                                <div class="form-group">


                                    <label asp-for="BillDate" class="col-sm-4 control-label"> Bill Date</label>
                                    <div class="col-sm-4">
                                        <input type="date" asp-for="BillDate" class="form-control " readonly></input>
                                    </div>

                                </div>
                                <div class="form-group">


                                    <label for="RegNo" class="col-sm-4 control-label"> Reg No. </label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="RegNo" class="form-control readonly" readonly></input>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <label asp-for="DriverMob" class="col-sm-4 control-label">Driver Mob. </label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="DriverMob" class="form-control readonly" readonly></input>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label asp-for="HelperMob" class="col-sm-4 control-label">Helper Mob. </label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="HelperMob" class="form-control readonly" readonly></input>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label for="TotalLoadMt" class="col-sm-4 control-label"> Total Load Mt </label>
                                    <div class="col-sm-2">
                                        <input type="text" asp-for="TotalLoadMt" class="form-control readonly" readonly></input>
                                    </div>

                                </div>
                                <div class="form-group">

                                    <label for="LoadingDate" class="col-sm-4 control-label"> Loading Date </label>
                                    <div class="col-sm-4">
                                        <input type="date" asp-for="LoadingDate" class="form-control readonly" readonly></input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="EntranceDate" class="col-sm-4 control-label"> Entrance Date </label>
                                    <div class="col-sm-4">
                                        <input type="date" asp-for="EntranceDate" readonly class="form-control readonly"></input>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="StartingKm" class="col-sm-4 control-label"> Starting KM </label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="StartingKm" readonly class="form-control " onkeyup="fnCalculateRunKm()"></input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="RunOfKm" class="col-sm-4 control-label"> Run Of KM </label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="RunOfKm" class="form-control readonly" placeholder="closing-starting" readonly></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                             
                                <div class="form-group">
                                    <label for="ClosingKm" class="col-sm-4 control-label"> Closing KM </label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="ClosingKm" readonly class="form-control " onkeyup="fnCalculateRunKm()"></input>
                                    </div>
                                </div>
                             
                                <div class="form-group">
                                    <label for="Kpl" class="col-sm-4 control-label"> KPL </label>
                                    <div class="col-sm-4">
                                        <input type="text" asp-for="Kpl" class="form-control readonly" placeholder="" readonly></input>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">

                                <div style="border:0px solid #ccc; min-width:30%;  overflow:hidden;">
                                    <table id="htGpList" class="table table-bordered table-striped">
                                        <thead style="background-color:black">
                                            <tr>
                                                <th style="text-align:center; width:6%">Gp No</th>
                                                <th style="text-align:center; width:3%">Load Of MT</th>
                                                <th style="text-align:center; width:7%">Customer</th>
                                                <th style="text-align:center; width:7%">Customer Address</th>

                                            </tr>
                                        </thead>
                                        <tbody id="htGpGrid">
                                            @{

                                                for (var i = 0; i < Model.TblGpbillGpdetails.Count; i++)
                                                {
                                                            <tr>
                                                                <td>@Html.EditorFor(modelItem => modelItem.TblGpbillGpdetails[i].Gpno, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                                                                <td>@Html.EditorFor(modelItem => modelItem.TblGpbillGpdetails[i].LoadOfMt, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                                                                <td>@Html.EditorFor(modelItem => modelItem.TblGpbillGpdetails[i].Customer, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                                                                <td>@Html.EditorFor(modelItem => modelItem.TblGpbillGpdetails[i].CustomerAddress, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                                                                <td style="display:none">@Html.EditorFor(modelItem => modelItem.TblGpbillGpdetails[i].CustomerCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</td>
                                                            </tr>

                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                           
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">

                                <label asp-for="Comments" class="col-sm-2 text-right">Comments</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" readonly asp-for="Comments" style="height:10rem"></textarea>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div id="ExepenseTable">
                        <div style="border:0px solid #ccc; min-width:30%;  overflow:hidden;">
                            <div class="card col-sm-12">
                                <div class="card-header">
                                    <b>Expense Details</b>
                                </div>
                                <div class="card-body">
                         
                                <div class="col-sm-12">
                                <table id="htExpenseList" class="table table-bordered table-striped">
                                    <thead style="background-color:black">
                                        <tr>
                                            <th style="text-align:center; width:5%">Expense Code</th>
                                            <th style="text-align:center; width:10%">Expense Name</th>
                                            <th style="text-align:center; width:5%">Unit</th>
                                            <th style="text-align:center; width:7%">Quantity</th>
                                            <th style="text-align:center; width:5%">Rate</th>
                                            <th style="text-align:center; width:5%">Total Price</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody id="htExpenseGrid">
                                        @{

                                            for (var i = 0; i < Model.TblGpbillExpenseDetails.Count; i++)
                                            {
                                                var trrow = "trTblGpbillExpenseDetails" + @i;
                                                            <tr id="@trrow">
                                                                <td style='display:none'><input name='TblRebProcessOrderDetail.Index' type='hidden' value="@i" /></td>
                                                                <td style='display:none'><input name='TblGpbillExpenseDetails[@i].BillNo' type='hidden' value="@Model.BillNo" /></td>
                                                                <td>@Html.EditorFor(modelItem => modelItem.TblGpbillExpenseDetails[i].ExpenseCode, new { htmlAttributes = new { @id = "TblGpbillExpenseDetails_" + @i + "_ExpenseCode", @class = "form-control", @readonly = "readonly" } })</td>
                                                                <td>@Html.EditorFor(modelItem => modelItem.TblGpbillExpenseDetails[i].ExpenseName, new { htmlAttributes = new { @id = "TblGpbillExpenseDetails_" + @i + "_ExpenseName", @class = "form-control", @readonly = "readonly" } })</td>
                                                                <td>@Html.EditorFor(modelItem => modelItem.TblGpbillExpenseDetails[i].Unit, new { htmlAttributes = new { @id = "TblGpbillExpenseDetails_" + @i + "_Unit", @class = "form-control", @readonly = "readonly" } })</td>
                                                    <td>@Html.EditorFor(modelItem => modelItem.TblGpbillExpenseDetails[i].Quantity, new { htmlAttributes = new { @onchange = "calculateTotalPrice(this)", @id = "TblGpbillExpenseDetails_" + @i + "_Quantity", @class = "form-control", @readonly = "readonly", @style = "text-align:right" } })</td>
                                                    <td>@Html.EditorFor(modelItem => modelItem.TblGpbillExpenseDetails[i].Rate, new { htmlAttributes = new { @id = "TblGpbillExpenseDetails_" + @i + "_Rate", @class = "form-control", @readonly = "readonly", @style = "text-align:right" } })</td>
                                                    <td>@Html.EditorFor(modelItem => modelItem.TblGpbillExpenseDetails[i].TotalPrice, new { htmlAttributes = new { @id = "TblGpbillExpenseDetails_" + @i + "_TotalPrice", @class = "clTotalPrice form-control", @readonly = "readonly", @style = "text-align:right" } })</td>
                                                        
                                                            </tr>
                                            }

                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" style="text-align:right"> <b>Total</b> </td>
                                            <td>
                                                <input type="text" style="text-align:right" id="SumTotal" value="@Model.Total" class="form-control" readonly></input>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ReturnTripDetails">
                        <div class="card">
                            <div class="card-header">
                                <b>Return Trip Info</b>
                            </div>
                            <div class="card-body">

                                <div class="col-sm-12">
                                  
                                    <div class="form-group">

                                        <div style="border:0px solid #ccc; min-width:30%;  overflow:hidden;">
                                            <table id="tblReturnList" class="table table-bordered table-striped">
                                                <thead style="background-color:black">
                                                    <tr>
                                                        <th style="text-align:center; width:6%">BillNo</th>
                                                        <th style="text-align:center; width:3%">LoadingDate</th>
                                                        <th style="text-align:center; width:7%">UnloadingDate</th>
                                                        <th style="text-align:center; width:7%">LoadingPoint</th>
                                                        <th style="text-align:center; width:2%">UnloadingPoint</th>
                                                        <th style="text-align:center; width:2%">CustomerName</th>
                                                        <th style="text-align:center; width:2%">Weight</th>
                                                        <th style="text-align:center; width:2%">TotalAmount</th>
                                                        <th style="text-align:center; width:7%">Comments</th>
                                                        <th style="text-align:center; width:2%">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="htReturnGrid">
                                                    @{

                                                        for (var i = 0; i < Model.TblReturnTripInfos.Count; i++)
                                                        {
                                                            var trrow = "trTblReturnTripInfos" + @i;
                                                            <tr id="@trrow">
                                                                <td style='display:none'><input name='TblReturnTripInfos.Index' type='hidden' value="@i" /></td>
                                                                <td>@Html.EditorFor(modelItem => modelItem.TblReturnTripInfos[i].BillNo, new { htmlAttributes = new { @id = "TblReturnTripInfos" + i + "_BillNo", @class = "form-control", @readonly = "readonly" } })</td>

                                                                <td>@Html.EditorFor(modelItem => modelItem.TblReturnTripInfos[i].LoadingDate, new { htmlAttributes = new { @id = "TblReturnTripInfos" + i + "_LoadingDate", @class = "form-control", @readonly = "readonly" } })</td>

                                                                <td>@Html.EditorFor(modelItem => modelItem.TblReturnTripInfos[i].UnloadingDate, new { htmlAttributes = new { @id = "TblReturnTripInfos" + i + "_UnloadingDate", @class = "form-control", @readonly = "readonly" } })</td>

                                                                <td>@Html.EditorFor(modelItem => modelItem.TblReturnTripInfos[i].LoadingPoint, new { htmlAttributes = new { @id = "TblReturnTripInfos" + i + "_LoadingPoint", @class = "form-control", @readonly = "readonly" } })</td>

                                                                <td>@Html.EditorFor(modelItem => modelItem.TblReturnTripInfos[i].UnloadingPoint, new { htmlAttributes = new { @id = "TblReturnTripInfos" + i + "_UnloadingPoint", @class = "form-control", @readonly = "readonly" } })</td>

                                                                <td>@Html.EditorFor(modelItem => modelItem.TblReturnTripInfos[i].CustomerName, new { htmlAttributes = new { @id = "TblReturnTripInfos" + i + "_CustomerName", @class = "form-control", @readonly = "readonly" } })</td>

                                                                <td>@Html.EditorFor(modelItem => modelItem.TblReturnTripInfos[i].Weight, new { htmlAttributes = new { @id = "TblReturnTripInfos" + i + "_Weight", @class = "form-control", @readonly = "readonly" } })</td>

                                                                <td>@Html.EditorFor(modelItem => modelItem.TblReturnTripInfos[i].TotalAmount, new { htmlAttributes = new { @id = "TblReturnTripInfos" + i + "_TotalAmount", @class = "form-control", @readonly = "readonly" } })</td>

                                                                <td>@Html.EditorFor(modelItem => modelItem.TblReturnTripInfos[i].Comments, new { htmlAttributes = new { @id = "TblReturnTripInfos" + i + "_Comments", @class = "form-control", @readonly = "readonly" } })</td>

                                                                <td>
                                                                    <button type="button" class="btn btn-primary" id="actionBtn" onclick="performAction(@i)">Action</button>
                                                                </td>

                                                            </tr>
                                                        }

                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="card-footer text-center">
                        @if (!string.IsNullOrEmpty(ViewBag.UserAuthStatus))
                        {
                            <button type="button" class="btn btn-success" onclick="SetBillStatus('@ViewBag.UserAuthStatus')">
                                @ViewBag.UserAuthText
                            </button>

                            <button type="button" class="btn btn-danger" onclick="SetBillStatus('Rejected')">
                                Reject
                            </button>
                        }
                    
                       



                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>

        </div>
    </div>
    <!-- /.box -->
</section>
<script>


    function SetBillStatus(vStatus) 
    {
        console.log(vStatus);
        var vBillNo = $("#BillNo").val();
        $.ajax({
            type: "POST",
            url: "/BillApproval/BillStatus",
            data: { BillNo: vBillNo, Status: vStatus },
            success: function (result) {

                // console.log(result)
                // console.log(result.success);
                // console.log(result.message);
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }


                toastr.success(result.message);

               // alert(result.message);
                setTimeout(function () {
                    window.location.href = '@Url.Action(nameof(Index))';
                }, 2000);
             


               

            },

        });
    }


    function removeTblRow(id) {

        var controlToBeRemoved = "#trTblGpbillGpdetails" + id;
        $(controlToBeRemoved).remove();
    }
    function removeExpenseRow(e) {

        var controlToBeRemoved = "#trTblGpbillGpdetails" + id;
        $(controlToBeRemoved).remove();
    }

   
    function calculateTotalPrice(e) {

        var Id = e.id;

        var IdSplit = Id.split("_");

        var rowId = IdSplit[0] + "_" + IdSplit[1];
        var Qty = $("#" + Id).val();
        var Rate = $("#" + rowId + "_Rate").val();
        var totalPriceId = $("#" + rowId + "_TotalPrice");
        if (Number(Qty) != 0 && Qty != '') {
            totalPriceId.val(Number(Qty) * Number(Rate));
        }
        fnTotalCalculation();
        debugger;
    }
    function fnTotalCalculation() {
        var Total = "0";
        $("#htExpenseGrid tr").each(function () {
            var clTotal = Total;
            var $row = $(this);

            var TotalPrice = $row.find('.clTotalPrice').val();
            var clTotal = Number(clTotal) + Number(TotalPrice);


            Total = clTotal;
        });
        $("#SumTotal").val(Total);
    }
    function fnCalculateTotalLoadMt() {
        var Total = 0;
        $("#htGpGrid tr").each(function () {
            var clTotal = Total;
            var $row = $(this);

            var TotalPrice = $row.find('.clLoadOfMt').val();
            var clTotal = Number(clTotal) + Number(TotalPrice);


            Total = clTotal;
        });
        $("#TotalLoadMt").val(Total);
    }
    function fnCalculateRunKm() {
        startingKm = Number($("#StartingKm").val());
        closingKm = Number($("#ClosingKm").val());

        $("#RunOfKm").val(closingKm - startingKm);
    }
</script>