@model LILI_VMS.Models.TblMaintenanceRequisition

@* 
<div id="modal-placeholder">
    @{
        var message = TempData["msg"].ToString();
        if (!string.IsNullOrEmpty(message))
        {
                                    <script>
                                    alert("@message");
                                    </script>
        
        }
    }

</div> *@

<!-- Modal placeholder -->
<div id="modal-placeholder"></div>

<!-- Content Header (Page header) -->
<section class="content-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="/MaintenanceRequisition/Index">Maintenance Requisition Information</a></li>
        <li class="breadcrumb-item active">Add Maintenance Requisition Information</li>
        </ol>
 
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="row">
    <div class="col-12">

    <div class="card" style="border:1px solid; border-color:cadetblue; padding:10px">

           <form class="form-horizontal" asp-controller="MaintenanceRequisition" method="post" asp-action="CreateMaintenanceRequisition">
               <div class="card-body">

                <div class="form-group">
                    <div class="row">
                        <label for="inputEmail3" class="col-sm-2 control-label">Requisition No</label>
                        <div class="col-sm-4">
                                    <input type="text" asp-for="RequisitionNo" class="form-control" placeholder="" readonly="readonly">
                        </div>
                                <label for="inputEmail3" class="col-sm-2 control-label">Requisition Date</label>
                                <div class="col-sm-3">
                                    <input type="date" asp-for="RequisitionDate" class="form-control" placeholder="">
                                </div>

                    </div>
                </div>

                 <div class="form-group">
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 control-label">Type of Maintenance</label>
                                <div class="col-sm-4">
                                    <select class="form-control" asp-for="MaintenanceTypeCode">
                                        @foreach (var item in ViewBag.MaintenanceTypeList)
                                        {
                                            <option value="@item.MaintenanceTypeCode">@item.MaintenanceTypeName</option>
                                        }
                                    </select>
                                </div>

                            </div>
                        </div>


                <div class="form-group">
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 control-label">Vehicle No</label>
                                <div class="col-sm-2">
                                    <input type="text" asp-for="VehicleCode" class="form-control" placeholder="" readonly="readonly">
                                </div>

                                <div class="col-sm-2">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-mini btn-primary" data-toggle="ajax-modal" data-target="#add-product" data-url="@Url.Action("SearchProduct")">
                                        Search Vehicle
                                    </button>
                                </div>

                                <label for="inputEmail3" class="col-sm-2 control-label">Registration No</label>
                                <div class="col-sm-4">
                                    <input type="text" asp-for="RegistrationNo" class="form-control" placeholder="" readonly="readonly">
                                </div>
                            </div>
                        </div>

                <div class="form-group">
                    <div class="row">
                        <label for="inputEmail3" class="col-sm-2 control-label">Type of Vehicle</label>
                        <div class="col-sm-4">
                                    <input type="text" asp-for="VehicleTypeName" class="form-control" placeholder="" readonly="readonly">
                        </div>

                        <label for="inputEmail3" class="col-sm-2 control-label">Driver</label>
                        <div class="col-sm-4">
                                    <input type="text" asp-for="Driver" class="form-control" placeholder="" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                         <label for="inputEmail3" class="col-sm-2 control-label">Last Maitn. Date</label>
                        <div class="col-sm-4">
                                    <input type="text" asp-for="LastMaintenanceDate" class="form-control" placeholder="" readonly="readonly">
                        </div>

                        <label for="inputEmail3" class="col-sm-2 control-label">Last Maint. KM </label>
                        <div class="col-sm-4">
                                    <input type="text" asp-for="LastMaintenanceKm" class="form-control" placeholder="" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 control-label">Current Maitn. Date</label>
                                <div class="col-sm-4">
                                    <input type="date" asp-for="CurrentMaintenanceDate" class="form-control" placeholder="">
                                </div>

                                <label for="inputEmail3" class="col-sm-2 control-label">Current Maint. KM</label>
                                <div class="col-sm-4">
                                    <input type="text" asp-for="CurrentMaintenanceKm" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>

                <div class="form-group">
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 control-label">Workshop Code</label>
                                <div class="col-sm-2">
                                    <input type="text" asp-for="SuppWorkShopCode" class="form-control" placeholder="" readonly="readonly">
                                </div>

                                <div class="col-sm-2">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-mini btn-primary" data-toggle="ajax-modal" data-target="#add-product" data-url="@Url.Action("SearchWorkShop")">
                                        Search Workshop
                                    </button>
                                </div>

                                <label for="inputEmail3" class="col-sm-2 control-label">Workshop Name</label>
                                <div class="col-sm-4">
                                    <input type="text" asp-for="SuppWorkShopName" class="form-control" placeholder="" readonly="readonly">
                                </div>
                            </div>
                        </div>

                <div class="form-group">
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 control-label">Comments</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="Comments" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-header" style="color: black; margin-bottom:10px"><b>Parts/Service List</b></h5>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-1 control-label">Parts/Service</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" asp-for="PartsCode">
                                            @foreach (var item in ViewBag.PartsSetupList)
                                            {
                                                <option value="@item.PartsCode">@item.PartsName</option>
                                            }
                                        </select>
                                    </div>
                                    <label for="inputEmail3" class="col-sm-1 control-label">Quantity</label>
                                    <div class="col-sm-1">
                                        <input type="text" asp-for="RequitionQty" class="form-control" placeholder="" onchange="totalPrice()">
                                    </div>
                                    <label for="inputEmail3" class="col-sm-1 control-label">UnitPrice</label>
                                    <div class="col-sm-1">
                                        <input type="text" asp-for="UnitPrice" class="form-control" placeholder="" onchange="totalPrice()">
                                    </div>
                                    <label for="inputEmail3" class="col-sm-1 control-label">TotalPrice</label>
                                    <div class="col-sm-1">
                                        <input type="text" asp-for="TotalPrice" class="form-control" placeholder="" readonly>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" onclick="addNewRowToGrid()" class="btn btn-sm btn-primary">Add</button>
                                    </div>
                                </div>

                                <div class="col-sm-10 mt-4">
                                    <table id="htTblMaintenanceRequisitionPartsDetail" class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th style="text-align:center; width:5%">Item Code</th>
                                                <th style="text-align:center;width:10%">Item Name</th>
                                                <th style="text-align:center;width:10%">Quantity</th>
                                                <th style="text-align:center;width:10%">Unit Price</th>
                                                <th style="text-align:center;width:10%">Total Price</th>
                                                <th style="text-align:center;width:10%">Service Charge</th>
                                                <th style="text-align:center;width:0.5%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="TblMaintenanceRequisitionPartsDetail">
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

            </div>

            <!-- /.box-body -->
            <div class="card-footer">
                        <a class="btn btn-mini btn-primary" href='@Url.Content("/MaintenanceRequisition/Index")'>Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Create</button>

            </div>
            <!-- /.box-footer -->        
        </form>

    </div>

    </div>
    </div>
    <!-- /.box -->
</section>




<script type="text/javascript">


    function addNewRowToGrid() {

        var PartsCode = $("#PartsCode").val();
        var PartsName = $('#PartsCode :selected').text();
        var RequitionQty = $("#RequitionQty").val();
        var UnitPrice = $("#UnitPrice").val();
        var TotalPrice = $("#TotalPrice").val();
        var ServiceCharge = 0;

        var index = $("#TblMaintenanceRequisitionPartsDetails").children("tr").length;

        var indexCell = "<td style='display:none'><input name='TblMaintenanceRequisitionPartsDetails.Index' type='hidden' value='" + index + "' /></td>";
        var idCell = "<td style='display:none'> <input id='TblMaintenanceRequisitionPartsDetails" + index + "_Id' name='TblMaintenanceRequisitionPartsDetails[" + index + "].Id' type='text' value='0' /></td>";
        var PartsCodeCell = "<td><input class='form-control' readonly id='TblMaintenanceRequisitionPartsDetails" + index + "_PartsCode' name='TblMaintenanceRequisitionPartsDetails[" + index + "].PartsCode' type='text' value='" + PartsCode + "' /></td>";
        var PartsNameCell = "<td><input class='form-control' readonly id='TblMaintenanceRequisitionPartsDetails" + index + "_PartsName' name='TblMaintenanceRequisitionPartsDetails[" + index + "].PartsName' type='text' value='" + PartsName + "' /></td>";
        var RequitionQtyCell = "<td><input class='form-control' readonly id='TblMaintenanceRequisitionPartsDetails" + index + "_RequitionQty' name='TblMaintenanceRequisitionPartsDetails[" + index + "].RequitionQty' type='text' value='" + RequitionQty + "' /></td>";
        var UnitPriceCell = "<td><input class='form-control' readonly id='TblMaintenanceRequisitionPartsDetails" + index + "_UnitPrice' name='TblMaintenanceRequisitionPartsDetails[" + index + "].UnitPrice' type='text' value='" + UnitPrice + "' /></td>";
        var TotalPriceCell = "<td><input class='form-control' readonly id='TblMaintenanceRequisitionPartsDetail" + index + "_TotalPrice' name='TblMaintenanceRequisitionPartsDetails[" + index + "].TotalPrice' type='text' value='" + TotalPrice + "' /></td>";
        var ServiceChargeCell = "<td><input class='form-control' id='TblMaintenanceRequisitionPartsDetails" + index + "_ServiceCharge' name='TblMaintenanceRequisitionPartsDetails[" + index + "].ServiceCharge' type='text' value='" + ServiceCharge + "' /></td>";
        
        var removeCell = "<td ><input class='btn btn-sm btn-danger' id='addRow' type='button' value='Remove' onclick='removeRow(" + index + ");' /></td>";

        var newRow = "<tr id='trtbEduDtl" + index + "'>" + indexCell + idCell + PartsCodeCell + PartsNameCell + RequitionQtyCell + UnitPriceCell + TotalPriceCell + ServiceChargeCell + removeCell + "</tr>";

        $("#TblMaintenanceRequisitionPartsDetail").append(newRow);

    }


    function removeRow(id) {
        var controlToBeRemoved = "#trtbEduDtl" + id;
        //alert(controlToBeRemoved);
        $(controlToBeRemoved).remove();
    }


    function totalPrice() {
        var RequitionQty = $("#RequitionQty").val();
        var UnitPrice = $("#UnitPrice").val();

        var tp= RequitionQty * UnitPrice;
        $("#TotalPrice").val(tp);
    
    }

</script>
