@model IEnumerable<LILI_VMS.Models.BillInfoVM>
@{
    Layout = "";
}


            <div class="modal-header" style="background-color:#0c8599; color:white;">
                <h5 class="modal-title" id="addContactLabel">GP Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style="position: relative;">

                @if (Model != null)
                {
                    <div  class="row" style='margin-bottom:5em;'>
                         <div class="col-xs-12 offset-xs-2">
                            <div class="card card-default">
                                <div class="card-header">
                                    <button class="btn  btn-primary" id="printReport"><i class="fa fa-print"> Print </i> </button>
                                    <div class="card-tools">
                                    </div>
                                </div>
                                <div class="card-body" id="PrintArea">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4 class="text-left">
                                                <b>Vehicle Trip/Movement Bill</b>
                                            </h4>
                                            <div class="row pt-5">
                                                   <div class="col-sm-4">
                                                    <label> Bill No: </label>
                                                    <label>@Model?.FirstOrDefault()?.BillNo</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label> Loading date: </label>
                                                    <label>@Model?.FirstOrDefault()?.LoadingDate.ToString("MMMM dd, yyyy")</label>
                                                </div>
                                            
                                                <div class="col-sm-4">
                                                    <label> Bill Date: </label>
                                                    <label>@Model?.FirstOrDefault()?.BillDate.ToString("MMMM dd, yyyy")</label>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col-sm-4">
                                                    <label> Registration No: </label>
                                                    <label>@Model?.FirstOrDefault()?.RegNo</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label> KPL: </label>
                                                    <label>@Model?.FirstOrDefault()?.KPL</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label> Driver Name: </label>
                                                    <label>@Model?.FirstOrDefault()?.DriverName</label>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col-sm-4">
                                                    <label> Closing Km: </label>
                                                    <label>@Model?.FirstOrDefault()?.ClosingKM</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label> Current Km: </label>
                                                    <label>@Model?.FirstOrDefault()?.StartingKm</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label> Bill KM: </label>
                                                    <label>@Model?.FirstOrDefault()?.RunOfKm</label>
                                                </div>
                                            </div>
                                            <div class="row pt-5">
                                                <div class="col-sm-4">
                                                    <label> Trip Carrying: </label>
                                                    <label>@Model?.FirstOrDefault()?.Weight</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label> Loading Point: </label>

                                                </div>
                                                <div class="col-sm-4">
                                                    <label> Gate Pass No: </label>
                                                    <label>
                                                        @ViewBag.GpNoString
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row pt-5">
                                                <div class="col-sm-4">
                                                   


                                                   
                                                    <label> Customer Address: </label>
                                                    <ul style="width:max-content; padding-left:10%">
                                                    @{ 
                                                         
                                                        foreach(var item in ViewBag.CustomerAddress)
                                                        {
                                                            
                                                            <li> @item </li>
                                                             
                                                        }
                                                      
                                                    }
                                                    </ul>
                                                </div>
                                          
                                            </div>


                                            <div class="row pt-5">
                                                <div class="col-xs-12" style="width:99%">
                                                    <table id="myTable" class="table table-bordered  table-responsive-sm table-hover">
                                                        <thead>
                                                            <tr>
                                                               
                                                                <th>Expenditure</th>
                                                                <th>Unit</th>
                                                                <th>BDT</th>
                                                                <th>Comments</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var item in ViewBag.ExpenseDetails)
                                                            {
                                                                <tr>
                                                                   
                                                                    <td>@item.ExpenseName</td>
                                                                    <td>@item.Unit</td>
                                                                    <td>@item.TotalPrice</td>
                                                                    <td>@item.Comments</td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <br/>
                                            <br />
                                            <br />
                                            <div class="row pt-5" id="signaturediv">
                                                <div class="col-12">

                                                    <div class="col-xs-4 text-center" >
                                                        <label style="font-weight:normal"></label>
                                                        <input disabled class="signature" style="height: 0;"></input>
                                                        <label>Prepared By</label>
                                                    </div>

                                                    <div class="col-xs-4 text-center" >
                                                         <label style="font-weight:normal"> </label>
                                                        <input disabled class="signature" style="height: 0;"></input>
                                                        <label>Checked By</label>
                                                    </div>

                                                    <div class="col-xs-4 text-center" >
                                                        <label style="font-weight:normal"> </label>
                                                        <input disabled class="signature" style="height: 0;"></input>
                                                        <label>Approved By</label>
                                                    </div>

                                                    
                                                </div>

                                            </div>

                                        </div>

                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                }


            </div>
            <div class="modal-footer" style="background-color:#0c8599; ">
                

            </div>



  

@*    <link href="~/Content/adminLte/plugins/select2/css/select2.min.css" rel="stylesheet" />*@
<link href="~/lib/datatable/datatable.min.css" rel="stylesheet">
<link href="~/lib/select2/select2.min.css" rel="stylesheet" />
<style>
    .signature {
        border: 0;
        width: 90%;
        border-bottom: 1px solid #000;
    }
    .col-xs-2 {
        width: 19.666667%;
    }

    label {
        font-size: small;
    }

    .table td, .table th {
        padding: 0.2em 0.5em;
    }



</style>

<style>
    @@page {
        size: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    @@media screen {
        header, footer {
            display: none;
        }

     
    }

    @@media print {
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body * {
            visibility: hidden;
        }

        body > :not(#printSection) {
            display: none !important;
        }

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 80%;
        }

        html, body {
            height: 100vh;
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden;
        }


    }

 

</style>






    <script>
        document.getElementById("printReport").onclick = function () {
            debugger;
           //$('#signaturediv').css('display', 'block');
            printElement(document.getElementById("PrintArea"));
            //$('#signaturediv').css('display', 'none');
        }
        function printElement(elem) {
            var domClone = elem.cloneNode(true);

            var $printSection = document.getElementById("printSection");

            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }

            $printSection.innerHTML = "";
            $printSection.appendChild(domClone);
            window.print();
        }
       
    </script>
